<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin | <%= schoolFullName %></title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <img class="school-logo" src="<%= schoolLogo %>">
    <h1 class="welcome">Admin Area</h1>

    <div class="privacy-container">
        <form method="POST" action="/api/v1/lookup">
            <div class="mb-3 container-form">
                <input type="date" class="form-control" id="date" name="date" placeholder="Enter a date">
            </div>
            <div class="mb-3 container-form">
                <input type="text" class="form-control" id="bus" name="bus" placeholder="Enter a bus">
            </div>
            <div class="mb-3 container-form">
                <input type="text" class="form-control" id="journey" name="journey"
                    placeholder="Enter a journey (AM or PM)">
            </div>

            <!-- Values for POST -->
            <input type="text" style="display: none !important;" name="idToken" value="<%= idToken %>">

            <div class="center">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
        </form>
    </div>

    <!-- Environment Values -->
    <input id="schoolColour" type="text" style="display: none !important;" value="<%= schoolColour %>">
    <input id="schoolTextColour" type="text" style="display: none !important;" value="<%= schoolTextColour %>">
    <input id="recaptchaSite" type="text" style="display: none !important;" value="<%= recaptchaSite %>">

    <p><br>Powered by Leopard, a check-in system for students by Noah Ball.<br><a href="/privacy">Privacy Policy</a> |
        <a href="/source">Source Code</a></p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/script.js"></script>
</body>

</html>