<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Results | Leopard</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <img class="school-logo" src="https://i0.wp.com/www.aquinas.school.nz/wp-content/uploads/2016/09/logo.png">
    <h1 class="welcome">Query Results</h1>

    <div class="privacy-container">
        <% if(resultsFound == true) { %>
        <h3>Students who took Bus #<%= busNumber %> in the <%= timeOfDay %> on <%= date %></h3>
        <ul>
            <% for (var i = 0; i < students.length; i++) { %>
            <li><%= students[i] %> - <%= tutors[i] %></li>
            <% } %>
        </ul>
        <% } else { %>
        <h3>No results found.</h3>
        <% } %>
        <h6><a class="back" href="/admin">Click here to go back</a></h6>
    </div>
    <p><br>Powered by Leopard, a check-in system for students by Noah Ball.<br><a href="/privacy">Privacy Policy</a> |
        <a href="/source">Source Code</a></p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>
</body>

</html>